{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <form method="post" class="form-signin">
    <h2 class="form-signin-heading">Login</h2>

    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <a href="{% url 'signup' %}" class="btn btn-lg btn-primary btn-block">Sign Up</a>
  </form>
{% endblock %}
