{% extends 'base.html' %}

{% block content %}
  <form method="post" class="form-signin">
    <h2 class="form-signin-heading">Sign up</h2>
  {% csrf_token %}

    <p><label for="id_username">Username:</label> <input type="text" name="username" autofocus="" required="" id="id_username" maxlength="150"></p>
    <p><label for="id_password1">Password:</label> <input type="password" name="password1" required="" id="id_password1"> <span class="helptext"></span></p>
    <p><label for="id_password2">Confirmation Password:</label> <input type="password" name="password2" required="" id="id_password2"></p>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
  </form>
{% endblock %}