{% extends 'base.html' %}

{% block title %}Detail{% endblock %}

{% block content %}
    <div class="btn-group buttons" role="group" aria-label="...">
        <a href="{% url 'items' %}" class="btn btn-default">Items</a>
        <a href="{% url 'create' %}" class="btn btn-default">Add</a>

        {% if object.user_id == request.user.id %}
            <a href="{% url 'edit' pk=object.id %}" class="btn btn-default">Edit</a>
            <a href="{% url 'delete' pk=object.id %}" class="btn btn-default">Delete</a>
        {% endif %}

    </div>
    <div class="column details">
        <div class="item">
            <p>name: {{ object.name }}</p>
            <p>description: {{ object.description }}</p>
            <p>creator: {{ object.user.username }}</p>
            <p>result user: {{ object.result.username }}</p>
            {% if object.status == 1 %}
                <p>status: TODO</p>
            {% elif object.status == 2 %}
                <p>status: DONE</p>
            {% elif object.status == 3 %}
                <p>status: UNDONE</p>
            {% elif object.status == 4 %}
                <p>status: UNDONE</p>
            {% endif %}
            <p>created_at: {{ object.created_at }}</p>
            <p>updated_at: {{ object.updated_at }}</p>
        </div>
    </div>


{% endblock %}
