{% extends 'base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
<div class="btn-group buttons" role="group" aria-label="...">
    <a href="{% url 'items' %}" class="btn btn-default">Items</a>
    <a href="{% url 'create' %}" class="btn btn-default">Add</a>
</div>
<div class="form-data">
    <form method="post" action="" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name: </label>
            <div class="col-sm-10">
                    <input id="name" type="text" name="name" class="form-control" placeholder="Name" value="{{ form.name.value }}">
            </div>
        </div>
        <input id="user" type="hidden" name="user" value="{{ form.user.value }}">
        <div class="form-group">
             <label for="description" class="col-sm-2 control-label">Description: </label>
            <div class="col-sm-10">
                <textarea id="description" name="description" class="form-control" placeholder="Text input">{{ form.description.value }}</textarea>
            </div>

        </div>
        <div class="form-group">
            <label for="status" class="col-sm-2 control-label">Status: </label>
            <div class="col-sm-10">
                <select size="4" name="status" class="form-control">
                    <option disabled>Get status</option>
                    <option {% if form.status.value == 2 %} selected {% endif %} value="2">DONE</option>
                    <option {% if form.status.value == 3 %} selected {% endif %} value="3">UNDONE</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-default" value="Update" />
            </div>
        </div>
    </form>
</div>
{% endblock %}
