{% extends 'base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
<div class="btn-group buttons" role="group" aria-label="...">
    <a href="{% url 'items' %}" class="btn btn-default">Items</a>
</div>
<div class="form-data">
    <form method="post" action="" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name: </label>
            <div class="col-sm-10">
                    <input id="name" type="text" name="name" class="form-control" placeholder="Name">
            </div>
        </div>
        <input id="user" type="hidden" name="user" value="{{ request.user.id }}">
        <div class="form-group">
             <label for="description" class="col-sm-2 control-label">Description: </label>
            <div class="col-sm-10">
                <textarea id="description" name="description" class="form-control" placeholder="Text input"></textarea>
            </div>

        </div>
        <input type="hidden" name="status" value="1">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-default" value="Create" />
            </div>
        </div>
    </form>
</div>


{% endblock %}
