{% extends 'base.html' %}

{% block title %}Items{% endblock %}
{% block content %}
    <div class="btn-group buttons" role="group" aria-label="...">
        <a href="{% url 'create' %}" class="btn btn-default">Add</a>
        <button type="button" class="btn btn-default" onclick="insertParam('status', '1')">TODO</button>
        <button type="button" class="btn btn-default" onclick="insertParam('status', '2')">DONE</button>
        <button type="button" class="btn btn-default" onclick="insertParam('status', '3')">UNDONE</button>
        <button type="button" class="btn btn-default" onclick="insertParam('status', '0')">ALL</button>
    </div>

    <table class="table position table-bordered" align="center">
        <tr>
            <th>
                <p>Name</p>
                <a class="glyphicon glyphicon-chevron-up" aria-hidden="true" href="?order=name"></a>
                <a class="glyphicon glyphicon-chevron-down" aria-hidden="true" href="?order=-name"></a>
            <th>
                <p>Creator</p>
                <a class="glyphicon glyphicon-chevron-up" aria-hidden="true" href="?order=user"></a>
                <a class="glyphicon glyphicon-chevron-down" aria-hidden="true" href="?order=-user"></a>
            </th>
            <th>
                <p>Result user</p>
                <a class="glyphicon glyphicon-chevron-up" aria-hidden="true" href="?order=result"></a>
                <a class="glyphicon glyphicon-chevron-down" aria-hidden="true" href="?order=-result"></a>
            </th>
            <th>
                <p>Description</p>
                <a class="glyphicon glyphicon-chevron-up" aria-hidden="true" href="?order=description"></a>
                <a class="glyphicon glyphicon-chevron-down" aria-hidden="true" href="?order=-description"></a>
            </th>
            <th>
                <p>Status</p>
                <a class="glyphicon glyphicon-chevron-up" aria-hidden="true" href="?order=status"></a>
                <a class="glyphicon glyphicon-chevron-down" aria-hidden="true" href="?order=-status"></a>
            </th>
            <th>
                <p>Created Time</p>
                <a class="glyphicon glyphicon-chevron-up" aria-hidden="true" href="?order=created_at"></a>
                <a class="glyphicon glyphicon-chevron-down" aria-hidden="true" href="?order=-created_at"></a>
            </th>
            <th><p>Updated Time</p>
                <a class="glyphicon glyphicon-chevron-up" aria-hidden="true" href="?order=updated_at"></a>
                <a class="glyphicon glyphicon-chevron-down" aria-hidden="true" href="?order=-updated_at"></a>
            </th>
            <th>Mark Done</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for item in object_list %}
            <tr>
                <td>
                    <p><a href="{% url 'detail' pk=item.id %}" class="edit">{{ item.name }}</a></p>
                </td>
                <td>
                    <p>{{ item.user.username }}</p>
                </td>
                <td>
                    <p>{{ item.result.username }}</p>
                </td>
                <td>
                    <p>{{ item.description }}</p>
                </td>
                <td>
                   {% if item.status == 1 %}
                        <p>TODO</p>
                    {% elif item.status == 2 %}
                        <p>DONE</p>
                    {% elif item.status == 3 %}
                        <p>UNDONE</p>
                    {% elif item.status == 4 %}
                        <p>UNDONE</p>
                    {% endif %}
                </td>
                <td>
                    <p>{{ item.created_at }}</p>
                </td>
                <td>
                    <p>{{ item.updated_at }}</p>
                </td>
                <td>
                    {% if item.status == 1 %}
                        <form method="post" action="{% url 'mark_done' pk=item.id %}" class="done">
                            {% csrf_token %}
                            <button type="submit" aria-label="Close"><span class="glyphicon glyphicon-ok" aria-hidden="true">
                            </span></button>
                        </form>
                    {% endif %}
                </td>
                {% if item.user_id == request.user.id %}
                    <td>
                        <a href="{% url 'edit' pk=item.id %}" class="edit">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <form method="post" action="{% url 'delete' pk=item.id %}" class="delete">
                        {% csrf_token %}
                            <button type="submit" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </form>
                    </td>
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
    <div class="btn-group buttons" role="group" aria-label="...">
        {% if page_obj.has_previous %}
             <button type="button" class="glyphicon glyphicon-arrow-left" onclick="insertParam('page', {{  page_obj.previous_page_number }})">
            </button>
        {% endif %}

        <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <button type="button" class="glyphicon glyphicon-arrow-right" aria-hidden="true" onclick="insertParam('page', {{  page_obj.next_page_number }})">

            </button>
        {% endif %}
    </div>
    {% endif %}

{% endblock %}
