{% extends 'base.html' %}

{% block title %}Create record{% endblock %}

{% block content %}

<form action="/item/" method="post">
    {% csrf_token %}
    <label for="name">Name: </label>
    <input id="name" type="text" name="name">
    <input id="user_id" type="hidden" name="user_id", value="{{ request.user.id }}">
    <label for="description">Description: </label>
    <input id="description" type="text" name="description">
    <input type="submit" value="OK">
</form>
{% endblock %}
