{% load staticfiles %}
<html>
    <head>
        <title>Test Project</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div>
                    <h1 align="center">Todo</h1>
                    {% block content %}
                    {% endblock %}
                </div>

        </div>

    </body>
</html>
