
.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin-heading,
.checkbox {
  margin-bottom: 30px;
}

.checkbox {
  font-weight: normal;
}

label {
    width:120px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

.item {
    border: 1px solid black;
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
}

.column {
    width: 300px;
    height: 300px;
}

.own-action {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 10px;
    display: inline-block;
}

.own-action button {
    position: relative;
    top: -20px;
}

.edit {
    padding: 2px;
}

.done {
    text-align: center;
}

.edit  {
    text-align: center;
}

.delete button {
    color: #FA1010;
    width:50px;
    display:inline-block;
}

/*.form-data {*/
    /*padding: 30px;*/
    /*width: 50%;*/
    /*margin-left: 25%;*/
    /*margin-right: 25%;*/
/*}*/

.details {
    margin: auto;
    padding: 5px;
}

tr th span {
    cursor: pointer;
    color: #428bca;
}


.buttons {
    display: table;
    margin: 5px auto;

}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}


